//media queries breakpoints -> bootstrap bps
//col-sm for larger mobile phones (devices with resolutions ≥ 576px);
$breakpoint-sm:576;
//col-md for tablets (≥768px);
$breakpoint-md:768;
//col-lg for laptops (≥992px);
$breakpoint-lg:992;
//col-xl for desktops (≥1200px)
$breakpoint-xl:1200;