$test : 2;
$img_mana : "./img/arbre_mana_flou.jpg";

//variables de positionnement
//la hauteur du header pr le decalage avec le mainContainer
$header-height:4rem;
$header-height1:5rem;
$menu-left:4rem;

$footer-height:3rem;

//taille des personnages selon la taille de l'ecran
$character-size:3rem;
$character-role-size:2rem;